nav {
  background-color: black;
  color: burlywood;
}

.navbar-brand {
  color: burlywood;
}
.nav-link {
  color: burlywood;
}
/* main */

main {
  background-color: black;
}

.description {
  font-size: 26px;
}

.banner {
  background-image: url(https://cdn.leonardo.ai/users/9a01fe03-e38d-4147-9504-334e27fe8920/generations/349b7784-6908-4831-9ced-2fc9e53fc4ec/DreamShaper_v5_A_restaurant_with_a_dark_style_Classes_on_mixol_1.jpg);
  color: burlywood;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

.PincipalCard {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 100px;
}

.gridContainer {
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
}

.gridItem {
  border: solid 1px;
  border-radius: 10px;
  transition: all 0.3s;
}

.gridItem:hover {
  transform: scale(1.02);
}

button {
  border: solid 1px;
  border-radius: 10px;
  background-color: black;
  color: burlywood;
  padding: 5px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.1);
}

input {
  border: solid 1px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.5);
  color: burlywood;
  padding: 1px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.title {
  font-size: 22px;
}

.Reserva {
  background-image: url(./assets/pictures/reserva.jpeg);
  color: burlywood;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

.Postres {
  background-image: url(https://cdn.leonardo.ai/users/9a01fe03-e38d-4147-9504-334e27fe8920/generations/46f2bea9-e4f7-4483-bb7b-69fd7310686a/DreamShaper_v5_desserts_with_a_dark_style_on_a_restaurant_1.jpg);
  color: burlywood;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

/*footer*/

.footer {
  background-color: black;
  align-items: center;
  color: burlywood;
  padding-top: 50px;
  text-align: center;
}

@media screen and (min-width: 800px) {
  .banner {
    background-image: url(https://cdn.leonardo.ai/users/9a01fe03-e38d-4147-9504-334e27fe8920/generations/349b7784-6908-4831-9ced-2fc9e53fc4ec/DreamShaper_v5_A_restaurant_with_a_dark_style_Classes_on_mixol_1.jpg);
    color: burlywood;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
  }

  .gridContainer {
    column-gap: 50px;
    grid-template-columns: 35vh 35vh;
    grid-template-rows: 100vh;
  }

  .gridItem {
    border: solid 1px;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .gridItem:hover {
    transform: scale(1.02);
  }
  .footerimg{
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }
  

}
@media screen and (min-width: 1000px) {
  .banner {
    background-image: url(https://cdn.leonardo.ai/users/9a01fe03-e38d-4147-9504-334e27fe8920/generations/349b7784-6908-4831-9ced-2fc9e53fc4ec/DreamShaper_v5_A_restaurant_with_a_dark_style_Classes_on_mixol_1.jpg);
    color: burlywood;
    text-align: center;
    padding: 50px;
    border-radius: 10px;
  }

  .gridContainer {
    column-gap: 50px;
    grid-template-columns: 35vh 35vh 35vh 35vh;
    grid-template-rows: 60vh;
  }
}

.JordiRoca {
  width: 200px;
  height: 300px;
  padding: 10px;
  border-radius: 30px;
}

.footerimg{
  width: 30px;
  height: 30px;
  border-radius: 100px;
}


ul li {
  list-style: none;
}

a{
  color: burlywood;
  text-decoration: none;
}

table{
  text-align: center;
  margin: auto;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),table.list thead>tr {
  background-color:  rgba(233, 255, 155, 0.5);
}