nav {
  background-color: black;
  color: burlywood;
}

.navbar-brand{
  color: burlywood;
}
.nav-link{
  color: burlywood;
}
/* main */

main {
  background-color: black;
}

.description{
  font-size: 26px;
}

.banner {
  background-image: url(https://cdn.leonardo.ai/users/9a01fe03-e38d-4147-9504-334e27fe8920/generations/349b7784-6908-4831-9ced-2fc9e53fc4ec/DreamShaper_v5_A_restaurant_with_a_dark_style_Classes_on_mixol_1.jpg);
  color: burlywood;
  text-align: center;
  padding: 50px;
  border-radius: 10px;
}

img {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 100px;
}

.gridContainer {
  display: grid;
  column-gap: 20px;
  row-gap: 40px;
}

.gridItem {
  border: solid 1px;
  border-radius: 10px;
  transition: all 0.3s;
}

.gridItem:hover {
  transform: scale(1.02);
}

button {
  border: solid 1px;
  border-radius: 10px;
  background-color: black;
  color: burlywood;
  padding: 5px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

button:hover {
  transform: scale(1.1);
}

input {
  border: solid 1px;
  border-radius: 5px;
  background-color: rgb(0, 0, 0, 0.5);
  color: burlywood;
  padding: 1px;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.title {
  font-size: 22px;
}

.Reserva {
  background-image: url(./assets/pictures/reserva.jpeg);
  color: burlywood;
  text-align: center;
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
}

.Postres {
  background-image: url(./assets/pictures/dessertOne.jpeg);
  color: burlywood;
  text-align: center;
  padding: 50px;
  margin: 10px;
  border-radius: 10px;
}

/*footer*/

.footer {
  background-color: black;
  display: flex;
  align-items: center;
  color: burlywood;
}

@media screen and (min-width: 800px) {

  .banner {
    background-image: url(https://cdn.leonardo.ai/users/9a01fe03-e38d-4147-9504-334e27fe8920/generations/349b7784-6908-4831-9ced-2fc9e53fc4ec/DreamShaper_v5_A_restaurant_with_a_dark_style_Classes_on_mixol_1.jpg);
    color: burlywood;
    text-align: center;
    padding: 50px;
    max-width: 100%;
    border-radius: 10px;
  }

  .gridContainer {

    column-gap: 50px;
    grid-template-columns:  35vh 35vh 35vh 35vh;
    grid-template-rows: 80vh ;
  }

  .gridItem {
    border: solid 1px;
    border-radius: 10px;
    transition: all 0.3s;
  }

  .gridItem:hover {
    transform: scale(1.02);
  }
}
